* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

@mixin flex($gap: 1rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main {
  padding: 1rem;
  color: rgb(211, 211, 211);
  background-color: black;
  @include flex(1rem);
  // width: 100%;

  .View1 {
    @include flex();

    .top {
      border-radius: 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
      }
    }

    .bottom {
      background-color: #1e1e1e;
      width: 100%;
      padding: 2rem;
      border-radius: 10px;
      font-family: sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center; 
      gap: 20vw;

      p {
        font-size: 1rem;
      }

      div {
        @include flex();

        h1 {
          font-weight: 100;
          font-size: clamp(2.8rem, 4vw, 4.8rem);
        }

        p {
          line-height: 2;
          opacity: 70%;
          font-size: clamp(1rem, 1.5vw, 2rem);
          font-weight: 200;
        }

        button {
          padding: 0.5em 1.2em;
          border-radius: 20px;
          background: #333;
          color: white;
          border: none;
          cursor: pointer;
          transition: background 0.3s ease;

          &:hover {
            background: #555;
          }
        }
      }
    }
  }


  section.View2 {
    @include flex();

    .top,
    .bottom {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .s1 {
      font-size: 3.5rem;
      font-family: sans-serif;
      @include flex(0.3rem);
      align-items: center;
      h4 {
        font-size: 0.8rem;
        opacity: 50%;
      }
    }
  }


  section.View3 {
    width: 100%;
    @include flex(1rem);
      font-family: sans-serif;

    .top
    img {
      width: 100%;
      height: 100%;
      object-position: center;
      border-radius: 10px;
    }
    .bottom {
      background-color: #1e1e1e;
      border-radius: 10px;
      padding: 1rem;
      width: 100%;
      @include flex(15vw);
      justify-content: center;
      p{
        font-size: 1rem;
      }
    div{
        p {
        line-height: 2;
        opacity: 70%;
        font-size: clamp(1rem, 1vw, 2rem);
        font-weight: 200;
      }
      h1{
        font-weight: 100;
         font-size: clamp(2.8rem, 3.5vw, 4.8rem);
      }
    }
    }
  }
   
}

@media (min-width: 1000px) {
  main {
    .View1 {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      .top,
      .bottom {
        flex: 1;
      }
    }
    section.View2 {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    section.View3 {
      display: flex;
      flex-direction: row-reverse;
       gap: 1rem;
    }
     section.View4 {
      display: flex;
      flex-direction: row;
       gap: 1rem;
    }
  }
}
